/* TASK2 - Change/Toggle color of background  */

/* .gradient1{
    background: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b);
}

.gradient2{
    background: linear-gradient(to right, #eb5757, #000000);
} */


/* Reaction Task */

/* #shape{
    height: 150px;
    width: 150px;
    background: red;
    display: none;
    position: relative;
} */
/* 
#figure{
    height: 150px;
    width: 150px;
    background: red;
    display: none;
    position: relative;
} */